<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="user">user</entry>
	<entry key="password">pw</entry>
	<entry key="database">jdbc:postgresql://localhost:5432</entry>
</properties>